/* General Styling */
body, html {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  height: 100%;
}

/* Main Container to Hold Both Navigation and Hero */
#main-container {
  height: 100vh;
  background-image: url('../images/background2.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

/* Navigation Bar */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 18vh;
  z-index: 10; /* Ensure it's above the background image */
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-size: 1.2rem;
  font-weight: 200;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
}

.logo {
  font-size: 2rem;
  color: white;
  cursor: default;
}

/* Hero Section */
#hero {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  position: relative;
  padding: 20px;
}

/* Blurred Rectangle Behind Hero Text */
.hero-box {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

/* Hero Text Styling */
.hero-title, .hero-subtitle, .hero-text {
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hero-subtitle {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.hero-text {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

/* Input Field and Button */
.hero-input {
  margin-bottom: 0;
}

.hero-button {
  padding: 12px 12px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #007BFF;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-button:hover {
  background-color: #0056b3;
}

/* General Button Styling */
button {
  padding: 10px 20px;
  background-color: #28a745;
  color: black;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

/* Wallet Button */
#connectWalletBtn {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

#connectWalletBtn:hover {
  background-color: #45a049;
}

#walletConnected img {
  height: 20px;
  width: 20px;
}

/* Section Styling */
section {
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

section h3 {
  margin-top: 0;
}
